<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document 2</title>
    <style>
        * {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        body {
            font-family: calibri;
            font-size: 13px;
        }
        .container {
            max-width: 760px;
            width: 100%;
            margin: 0 auto;
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #012169;
            margin-bottom: 10px;
        }
        .header h1 {
            color: #012169;
            font-size: 30px;
            font-weight: bold;
            padding-right: 30px;
        }
        .header img {
            width: 125px;
        }
        table {
            width: 100%;
            border: 1px solid #012169;
            border-collapse: collapse;
        }
        table td,
        table th {
            padding: 3px 7px;
            border: 1px solid #012169;
        }
        .table-1 th {
            color: #fff;
            text-align: left;
            background: #415c8f;
            font-weight: 400;
        }
        .bg-grey-1 {
            background: #012169;
            color: #fff;
        }
        .text-center {
            text-align: center !important;
        }
        .check-box {
            border: 1px solid #000;
            width: 12px;
            height: 12px;
        }

        table.no-border,
        table.no-border td,
        table.no-border th {
            border: 0;
        }
        .footer {
            display: flex;
            align-items: center;
            border-top: 1px solid #808080;
            padding-top: 5px;
            margin-top: 20px;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .footer p {
            white-space: nowrap;
        }
        .footer table td,
        .footer table th {
            padding: 3px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>Accommodation Request</h1>
            <img src="./images/hailcreek-open-cut.png" />
        </div>

        <table class="table-1">
            <tr class="bg-grey-1 text-center">
                <td colspan="2">
                    <b><i>Accommodation Request form must be completed seven days prior to site arrival.<br/> Once this form has been completed and signed by the relevant Site Representative, please send to the Hail Creek Accommodation team for processing.</i></b>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <b><i>Hail Creek Accommodation</i></b>
                </td>
                <td width="50%">
                    <a href="mailto:HailCreekAccommodation@glencore.com.au" class="text-custom-purple">HailCreekAccommodation@glencore.com.au</a>
                </td>
            </tr>
        </table>

        <br/>

        <table class="table-1">
            <tr class="bg-grey-1">
                <td colspan="3">
                    <b>Details of the Hail Creek Site Representative</b>
                </td>
            </tr>
            <tr>
                <th width="33.333%">
                    Name
                </th>
                <th width="33.333%">
                    Position
                </th>
                <th width="33.333%">
                    Department
                </th>
            </tr>
            <tr>
                <td width="33.333%">
                    <b><%= $requester_user_name %></b>
                </td>
                <td width="33.333%">
                    <b>Supervisor</b>
                </td>
                <td width="33.333%">
                    <b>Maintenance</b>
                </td>
            </tr>
        </table>

        <br/>

        <table class="table-1">
            <tr class="bg-grey-1">
                <td colspan="8">
                    <b>Visit Details</b>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Arrival Date
                </th>
                <td colspan="3">
                    <%= $start_date %>
                </td>
                <th>
                    Departure Date
                </th>
                <td colspan="2">
                    <%= $end_date %>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Arrival Time
                </th>
                <td colspan="3">
                    <%= $booking_start %>
                </td>
                <th>
                    Departure Time
                </th>
                <td colspan="2">
                    <%= $booking_end %>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Project Name
                </th>
                <td colspan="3">
                    <b>NA</b>
                </td>
                <th>
                    Roster Cycle
                </th>
                <td colspan="2">
                    <%= $shift_type %>
                </td>
            </tr>
            <tr>
                <th width="90">
                    Car Details
                </th>
                <th width="80">
                    Rego
                </th>
                <td width="100">
                    &nbsp;
                </td>
                <th width="80">
                    Make
                </th>
                <td width="40" style="border-right: 0;">
                    &nbsp;
                </td>
                <td width="150" style="border-left: 0;">
                    &nbsp;
                </td>
                <th width="60">
                    Model
                </th>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>

        <br/>

        <table class="table-1">
            <tr>
                <th width="90">
                    Cost Code
                </th>
                <td width="180">
                    &nbsp;
                </td>
                <th width="80">
                    Department
                </th>
                <td width="150">
                    <b>MAINTENANCE</b>
                </td>
                <th width="60">
                    Superintendent
                </th>
                <td>
                    <b>DAN RYAN</b>
                </td>
            </tr>
        </table>
        
        <br/>

        <table class="table-1">
            <tr class="bg-grey-1">
                <td colspan="4">
                    <b>Multiple Booking Request</b>
                </td>
            </tr>
            <tr>
                <th width="25%" class="text-center">
                    Check in Date
                </th>
                <th width="25%" class="text-center">
                    Check out Date
                </th>
                <th width="25%" class="text-center">
                    Shift
                </th>
                <th width="25%" class="text-center">
                    Arrival time
                </th>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>

        <br/>

        <table class="table-1">
            <tr class="bg-grey-1">
                <td colspan="4">
                    <b>Employer Details</b>
                </td>
            </tr>
            <tr>
                <th width="33.333%" class="text-center">
                    Business Name
                </th>
                <th width="33.333%" class="text-center">
                    Company Supervisor
                </th>
                <th width="33.333%" class="text-center">
                    Phone
                </th>
            </tr>
            <tr>
                <td>
                    <%= $provider_name %>
                </td>
                <td>
                    <b>COLE BOWMAN</b>
                </td> 
                <td>
                    <b>0417 786 541</b>
                </td>
            </tr>
        </table>

        <br/>

        <table class="table-1">
            <tr>
                <th width="20%" class="text-center" rowspan="13">
                    Personal Details
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Name</b>
                </td>
                <td colspan="2" width="200">
                    <%= $worker_name %>
                </td>
            </tr>
            <tr>
                <td colspan="2"> 
                    <b>Company</b>
                </td>
                <td colspan="2">
                    <%= $provider_name %>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Department</b>
                </td>
                <td colspan="2">
                    <b>MAINTENANCE</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Date Of Birth</b>
                </td>
                <td colspan="2">
                    <%= $worker_dob %>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Email</b>
                </td>
                <td colspan="2">
                    <%= $worker_email %>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Phone Number</b>
                </td>
                <td colspan="2">
                    %= $worker_phone %>
                </td>
            </tr>
            <tr>
                <td rowspan="3" width="140">
                    <b>Emergency Contact</b>
                </td>
            </tr>
            <tr>
                <td>
                    <b><small>Name</small></b>
                </td>
                <td colspan="2">
                    <b>GRANT FRASER</b>
                </td>
            </tr>
            <tr>
                <td>
                    <b><small>Phone Number</small></b>
                </td>
                <td colspan="2">
                    <b>0429 417 720</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Fatigue Accommodation required</b>
                </td>
                <td class="text-center">
                    <div style="display: flex;align-items:center;justify-content:center;">
                        Yes &nbsp;<div class="check-box"></div>
                    </div>
                </td>
                <td class="text-center">
                    <div style="display: flex;align-items:center;justify-content:center;">
                        No &nbsp;<div class="check-box"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>If Yes, Please describe; <small>Before, after or both</small></b>
                </td>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    &nbsp;
                </td>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>
        </table>
        
        <br/>

        <table class="table-1">
            <tr class="bg-grey-1">
                <td colspan="4">
                    <b>Approval</b>
                </td>
            </tr>
            <tr>
                <th width="25%" class="text-center">
                    Position
                </th>
                <th width="25%" class="text-center">
                    Name
                </th>
                <th width="25%" class="text-center">
                    Signature
                </th>
                <th width="25%" class="text-center">
                    Date
                </th>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>

        <div class="footer">
            <table class="no-border">
                <tr>
                    <td>
                        <b>Document ID:</b>&nbsp;&nbsp;&nbsp;&nbsp; HCROC-2119826548-968
                    </td>
                    <td>
                        <b>Status:</b>&nbsp;&nbsp;&nbsp;&nbsp; Approved
                    </td>
                    <td>
                        <b>Effective:</b>&nbsp;&nbsp;&nbsp;&nbsp; 09/12/2019
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Owner:</b>&nbsp;&nbsp;&nbsp;&nbsp; Superintendent - Village ＆ Infrastructure
                    </td>
                    <td>
                        <b>Version:</b>&nbsp;&nbsp;&nbsp;&nbsp; 1.0
                    </td>
                    <td>
                        <b>Review:</b>&nbsp;&nbsp;&nbsp;&nbsp; 09/12/2024
                    </td>
                </tr>
            </table>
            <p>Page 1 of 1</p>
        </div>

    </div>
    
</body>
</html>